.feed {
    width: 100%;
    height: 54rem;
    margin-left: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.feed ul {
    margin-left: 0;
    padding-left: 0;
    
}

.feed .feed-title {
    text-align: center;
}

.feed .loading-title {
    text-align: center;
    color: black;
}