.feed {
    width: 100%;
    margin-left: 1rem;
}

.feed ul {
    margin-left: 0;
    padding-left: 0;
}

.feed .feed-title {
    text-align: center;
}

.feed .loading-title {
    text-align: center;
    color: black;
}