.inactive .post {
    list-style-type: none;
    background-color: #393863;
    display: flex;
    margin-top: .25rem;
    margin-bottom: .25rem;
    justify-content: start;
    align-items: center;
    height: 8rem;
    border-radius: 3pt;
    width: 97%;
    overflow: hidden;
}

.active .post {
    list-style-type: none;
    background-color: #2f2f53;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40rem;
    width: 97%;
    overflow: hidden;
}

.active .post .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 96.31%;
    padding-top: 1.5rem;
    background-color: #161627;
    border-top-right-radius: 3pt;
    border-bottom-right-radius: 3pt;
}

.active .post .media {
    max-width: 100%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

.inactive .post .media {
    display: none;
}

.post:hover {
    background-color: #2f2f53;
    box-shadow: #393863;
}

.inactive .post .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 81.1%;
    padding-top: 1.5rem;
    background-color: #161627;
    border-top-right-radius: 3pt;
    border-bottom-right-radius: 3pt;
}

.post .score img {
    width: 45%;
}

.inactive .post .score p {
    font-size: 75%;
}

.active .post .score p {
    font-size: 100%;
}

.post .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.post .left-side img {
    max-height: 80%;
    max-width: 80%;
    border-radius: 4pt;
}

.post .right-side {
    width: 85%;
    height: 100%;
    display: block;
}

.post .right-side .top {
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: .5rem;
    margin-bottom: 0;
    margin-left: 1rem;
}

.post .right-side .top p {
    font-size: .8rem;
    padding: .3rem .5rem .3rem .5rem;
    margin: 0;
}

.post .right-side .top .subreddit {
    font-weight: bold;
}

.post .right-side .top .author {
    font-style: italic;
}

.post .right-side .bottom {
    margin-top: 0;
    padding-top: 0;
}

.post .right-side .bottom .title {
    width: 95%;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 0;
    margin-top: 0.75rem;
    margin-left: 1rem;
}

.inactive .media {
    display: none;
}

.active .media {
    display: block;
    height: 100%;
}

.active .media img {
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 0;
}

.active .media .gif {
    height: 90%;
    max-width: 90%;
    padding-bottom: 2rem;
}

.active .media .reddit-video {
    max-width: 100%;
    max-height: 80%;
    margin-top: 0;
}

.active .media .link {
    height: 40%;
    text-align: center;
    margin: 0;
    padding-bottom: 7rem;
}

.active .media .gallery {
    height: 40%;
    text-align: center;
    margin: 0;
    padding-bottom: 7rem;
}

.active .media .text {
    font-size: .9rem;
    height: 90%;
    width: 95%;
   overflow: hidden;
   padding-top: 0;
   margin-top: 0;
}

.active .media .youtube-video {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 4rem;
}

.inactive .comments-button {
    display: none;
}

.active .hidden {
    display: none;
}

.inactive .hidden {
    display: none;
}

.inactive .show {
    display: none;
}

.active .post .comments-button {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 35.5rem;
    margin-right: .25rem;
    background-color: #161627;
    color: white;
    border: none;
    height: 10%;
    width: 15%;
    cursor: pointer;
    border-radius: 4pt;
    font-size: .7rem;

}

.active .post .comments-button:hover {
    background-color: #0c0c15;
}

.active .post .comments-button .comment-icon {
    border-radius: 0;
    height: 70%;
    padding-bottom: 0;
    margin-bottom: 0;

}

.active #comments {
    overflow: scroll;
    height: 20rem;
}